<div @fadeAnimation *ngIf ='true'>

<h2 *ngIf ='title' > {{title}} </h2>

<app-view-description *ngIf ='view' [view-type] ='view' [system-type] ='systemType' > </app-view-description>

<app-resource-unavailable *ngIf ='isError' [error] ='error' > </app-resource-unavailable>

<app-gi-entry-detail [entry] ='entry'> 

			<ng-container *ngIf ='entry?.word;'>

			<tr>

				<th class ='bold left'> Word : </th>
				<td> {{entry?.word}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='entry?.other_name;'>

			<tr>

				<th class ='bold left'> Other Name : </th>
				<td> {{entry?.other_name}} </td>

			</tr>

		</ng-container>

</app-gi-entry-detail>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>