<div id ='entry-create'>

	<h2 *ngIf ='title'> {{title}} </h2>

<app-resource-unavailable *ngIf ='isError' [error] ='error'> </app-resource-unavailable>

<ng-container *ngIf ='entryForm'>

		<div [formGroup] ='entryForm'>

	<app-general-internal-entry-delete [system-type] ='systemType' [view] ='view' [entry-form] ='entryForm' [e-others] = 'eothers' [placeholder] ='placeholder' [no-edit] ='noEdit'

	[system-guideline] ='systemGuideline' (processEntry) ='changeEntry($event)' > 

		<app-internal-one-form-input [system-type] ='systemType' [entry-form] ='entryForm' [placeholder] ='placeholder' [no-edit] = 'noEdit' > </app-internal-one-form-input>

	</app-general-internal-entry-delete>

</div>

</ng-container>

</div>

