<ng-container *ngIf ='username'>

	<div @fadeAnimation *ngIf ='username.invalid && (username.touched || username.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='username.errors?.required'> Request Username of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='username.errors?.required || username.errors?.minlength'> Request Username of {{systemType}} cannot be less than 5 characters in length </li>
			<li *ngIf ='username.errors?.required || username.errors?.maxlength'> Request Username of {{systemType}} cannot be greater than 100 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='password'>

	<div @fadeAnimation *ngIf ='password.invalid && (password.touched || password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='password.errors?.required'> Request Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='password.errors?.required || password.errors?.minlength'> Request Password of {{systemType}} cannot be less than 5 characters in length </li>
			<li *ngIf ='password.errors?.required || password.errors?.maxlength'> Request Password of {{systemType}} cannot be greater than 100 characters in length </li>

		</ul>

	</div>

</ng-container>