<h2 @fadeAnimation *ngIf ='title'> {{title}} </h2>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'></app-notification-screen>

<app-resource-unavailable *ngIf ='isError' [error] ='error' > </app-resource-unavailable>

<app-view-description *ngIf ='view' [view-type] ='view'> </app-view-description>

<div *ngIf ='eidx' id ='entry-update'>

<form method = 'post' autocomplete ='off' [formGroup] ='entryForm' (ngSubmit) ='changePassword(entryForm.value)' > 

		<div *ngIf ='password' class ='form-group'>

			<label for ='password' class ='form-label bold'> Current Password * </label>

			<input type ='password' class ='form-control' id ='password' name ='password' required ='required' autocomplete ='new-password' formControlName ='password'>

			<app-profile-validator *ngIf ='password' [system-type] ='systemType' [password] = 'password'> </app-profile-validator>

		</div>

		<div *ngIf ='new_password' class ='form-group'>

			<label for ='new-password' class ='form-label bold'> New Password * </label>

			<input type ='password' class ='form-control' id ='new-password' name ='new_password' required ='required' autocomplete ='new-new_password' formControlName ='new_password'>

			<app-profile-validator  *ngIf ='new_password' [system-type] ='systemType' [new-password] = 'new_password'> </app-profile-validator>

		</div>

		<div *ngIf ='confirm_password' class ='form-group'>

			<label for ='confirm-password' class ='form-label bold'> Confirm Password * </label>

			<input type ='password' class ='form-control' id ='confirm-password' name ='confirm_password' required ='required' autocomplete ='new-confirm_password' formControlName ='confirm_password'>

			<app-profile-validator  *ngIf ='confirm_password' [system-type] ='systemType' [confirm-password] ='confirm_password'> </app-profile-validator>

		</div>

			<button *ngIf ='!isFormProcessing' type ='submit' class ='btn-submit' [class] ='{"disabled" : !isFormValid }' [disabled] ='!isFormValid' > Submit </button> 

			<p *ngIf ='isFormSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

	</form>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>