<div id ='general-timeline'>

	<h2> Timeline </h2>

	<ng-container *ngIf ='comments != null && comments?.length > 0'>

		<div @fadeAnimation class ='comments'>

			<ng-container *ngFor ='let comment of comments; let i =index'>

				<div class ='comment'>

					<p> <b class ='bold'> {{i + 1}} </b> <small class ='timestamp'> {{comment?.updated_on | date : 'longDate'}} </small> </p>

					<ng-container *ngIf ='comment?.author; else anonymousTemplate'>

						<p class ='author'> <small> <b class ='bold'> {{comment?.author?.full_name}} </b> </small> </p>

					</ng-container>

					<ng-template #anonymousTemplate>

						<p class ='author'> <b class ='bold'> Anonymous </b> </p>

					</ng-template>

					<ng-container *ngIf ='comment?.text'>

						<p class ='text'> <b class ='bold'> Message : </b> {{comment?.text}} </p>

					</ng-container>

					<ng-container *ngIf ="entry?.status != 'Fulfilled' && entry?.status != 'Rejected'">

						<ng-container *ngIf ='(comment.replies == null || comment?.replies?.length < 1) && i != 0'>

							<a id ='{{comment?.slug}}' class ='reply-add' [routerLink] ="['/' , link , 'entry' , entry?.slug , 'comment' , comment?.slug , 'reply' , 'add']"> Reply </a>

						</ng-container>

					</ng-container>

					<ng-container *ngIf ='comment?.replies != null && comment?.replies?.length > 0'>

						<div class ='replies'>

							<ng-container *ngFor ='let reply of comment?.replies; let j =index'>

								<div class ='reply'>

									<ng-container *ngIf ='comment.updated_on'>

									<p> <b class ='bold'> {{j + 1}} </b> <small class ='timestamp'> {{comment?.updated_on | date : 'longDate'}} </small> </p>

								</ng-container>

									<ng-container *ngIf ='reply?.author; else anonymousTemplate1'>

										<p class ='author'> <small> <b class ='bold'> Author : {{reply?.author?.full_name}} </b> </small> </p>

									</ng-container>

									<ng-template #anonymousTemplate1>

										<p class ='author'> <small> <b class ='bold'> Anonymous </b> </small> </p>

									</ng-template>

									<ng-container *ngIf ='reply?.entry_handler'>

										<p class ='author'> <small> <b class ='bold'> Handler : </b>{{reply?.entry_handler?.full_name}} </small> </p>

									</ng-container>

									<ng-container *ngIf ='reply?.text'>

										<p class ='text'> <b class ='bold'> Message : </b>{{(reply?.comment_author_name ? '@' + reply?.comment_author_name : '')}}  {{reply?.text | replaceLineBreak}} </p>

									</ng-container>

								</div>

							</ng-container>

						</div>

					</ng-container>

				</div>

			</ng-container>

		</div>

	</ng-container>

	<ng-container *ngIf ='comments != null && comments?.length < 1'>

		<div class ='comments'>

			<p> Comments entries not available for this entry. </p>

		</div>

	</ng-container>

</div>
