<div @fadeAnimation id ='entry-create'>

	<h2 *ngIf ='title'> {{title}} </h2>

<app-resource-unavailable *ngIf ='isError' [error] ='error'> </app-resource-unavailable>

<ng-container *ngIf ='entryForm'>

		<div [formGroup] ='entryForm'>

	<app-gi-chat-entry-update [system-type] ='systemType' [view] ='view' [entry] ='entry' [entry-form] ='entryForm' [e-others] = 'eothers' [placeholder] ='placeholder' [no-edit] ='noEdit'

	[system-guideline] ='systemGuideline' (processEntry) ='changeEntry($event)' > 

		<app-internal-three-form-input [system-type] ='systemType' [entry-form] ='entryForm' [placeholder] ='placeholder' [no-edit] = 'noEdit' > </app-internal-three-form-input>


	</app-gi-chat-entry-update>

</div>

</ng-container>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>