<div @fadeAnimation *ngIf ='true'>

<h2 *ngIf ='title' > {{title}} </h2>

<app-view-description *ngIf ='view' [view-type] ='view'> </app-view-description>

<app-resource-unavailable *ngIf ='isError' [error] ='error' > </app-resource-unavailable>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<div *ngIf ='entry' id ='entry-update'>

<p *ngIf ='!isFormModified'> <b class ='bold'> Form Message : </b> {{formMessage}} </p>

	<div *ngIf ='!isLoading' id ='entry-detail'>

		<form action ='' method ='post' enctype ='application/x-www-form-urlencoded' autocomplete ='off' [formGroup] ='entryForm' (ngSubmit) ='updateEntry(entryForm.value)'>

			<div *ngIf ='first_name' class ='form-group'>

				<label for ='first_name' class ='form-label bold'> First Name * : </label>

				<input type ='text' id ='first_name' name ='first_name' placeholder ='Yusuf' required ='required' autocomplete ='new-first_name' formControlName ='first_name' class ='form-control' 

				appCapitalize ='appCapitalize'>

				<app-profile-validator *ngIf ='first_name' [system-type] ='systemType' [first-name] ='first_name'> </app-profile-validator>

			</div>

			<div *ngIf ='last_name' class ='form-group'>

				<label for ='last_name' class ='form-label bold'> Last Name * : </label>

				<input type ='text' id ='last_name' name ='last_name' placeholder ='Musa' required ='required' autocomplete ='new-last_name' formControlName ='last_name' class ='form-control'

				appCapitalize ='appCapitalize'>

				<app-profile-validator *ngIf ='last_name' [system-type] ='systemType' [last-name] ='last_name'> </app-profile-validator>

			</div>

			<div *ngIf ='about' class ='form-group'>

				<label for ='about' class ='form-label bold'> About * : </label>

				<textarea id ='about' name ='about' placeholder ='I am me' required ='required' formControlName ='about' class ='form-control form-textarea'> </textarea>

				<app-profile-validator *ngIf ='about' [system-type] ='systemType' [about] ='about'> </app-profile-validator>

			</div>
		
			<ng-container *ngIf ='entryOthers && entryOthers?.levels != null && entryOthers?.levels?.length > 0'>

			<div class ='form-group'>

				<label for ='level' class ='form-label bold'> Level * : </label>

				<select name ='level' id ='level' class ='form-control' required ='required' formControlName ='level'>

					<option [value] =''> </option> 

					<option *ngFor ='let level of entryOthers.levels' [value] ='level._id'> {{level.name}} </option> 

				</select>

				<app-profile-validator *ngIf ='level' [system-type] ='systemType' [level] ='level'> </app-profile-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='entryOthers && entryOthers?.countries != null && entryOthers?.countries?.length > 0'>

			<div class ='form-group'>

				<label for ='country' class ='form-label bold'> Country * : </label>

				<select name ='country' id ='country' class ='form-control' required ='required' formControlName ='country'>

					<option [value] =''> </option> 

					<option *ngFor ='let country of entryOthers.countries' [value] ='country._id'> {{country.name}} </option> 

				</select>

				<app-profile-validator *ngIf ='country' [system-type] ='systemType' [country] ='country'> </app-profile-validator>

			</div>

		</ng-container>

			<button *ngIf ='!isFormProcessing' type ='submit' class ='btn-submit' [class] ='{"disabled" : !isFormValid }' [disabled] ='!isFormValid' > Submit </button> 

			<p *ngIf ='isFormSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

		</form>

		<div class ='entry-options'>

			<h3> Entry Options </h3>

			<a [routerLink] ='["../../../" , "account" , "profile" , "detail"]' class ='entry-option center'> User Detail </a>

		</div>

</div>

</div>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>