/*	#payment-session-menu ul {

		margin : 0px;
	}

	.payment-session-menu-item {

	height : 40px;
	width : 50%;
	margin : 0px auto 10px;
	line-height : 40px;
}*/

/*.small-menu-item {

	display : block;
	margin : 15px auto 0px;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #290140;
	border : 2px solid #ac4bd8;
	color : #a0a7a0;
	border-radius : 12px;
}*/