<ng-container *ngIf ='entry'>

	<h3 class ='center' > Request Options  </h3>

<div @fadeAnimation [formGroup] ='entryForm'>

			<div id ='entry-detail-options'>

				<a *ngIf ='!isOtherColAvailable' (click) ='otherCol()' class ='center'> Update Application </a>

		</div>

<ng-container *ngIf ='isOtherColAvailable == true'>

<app-request-entry-message-template [system-type] ='systemType' [$link] ='$link' [entry-form] ='entryForm' [entry] ='entry' > </app-request-entry-message-template>

<app-request-entry-update-status [entries] ='eother' [entry-form] ='entryForm' [entry] ='entry' > </app-request-entry-update-status>

	<div class ='form-group' *ngIf ='text'>

		<label for ='text' class ='form-label bold'> Message </label>

		<textarea name ='text' id ='text' formControlName ='text'> </textarea>

	<app-request-entry-update-validator *ngIf ='text' [system-type] ='systemType' [text] ='text'> </app-request-entry-update-validator>

	</div>

	</ng-container>
		
</div>

</ng-container>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>