
<div @fadeAnimation *ngIf ='entryForm' [formGroup] ='entryForm'>

			<ng-container *ngIf ='about'>

			<div class ='form-group'>

				<label for ='about' class ='form-label bold'> About * : </label>

				<textarea id ='about' name ='about' placeholder ='I am Me' required ='required' formControlName ='about' class ='form-control form-textarea' [readOnly] ='noEdit' ></textarea>

				<app-user-other-field-validator *ngIf ='about' [system-type] ='systemType' [about] ='about'> </app-user-other-field-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='faculty && generalOthers && generalOthers?.faculties != null && generalOthers?.faculties?.length > 0'>

			<div class ='form-group'>

				<label for ='faculty' class ='form-label bold'> Faculty * : </label>

				<select name ='faculty' id ='faculty' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='faculty'>

					<option [value] =''> </option> 

					<option *ngFor ='let faculty of generalOthers?.faculties' [value] ='faculty._id'> {{faculty.name}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='faculty' [system-type] ='systemType' [faculty] ='faculty'></app-user-other-field-validator>

			</div>

		</ng-container>


			<ng-container *ngIf ='department && generalOthers && generalOthers?.departments != null && generalOthers?.departments?.length > 0'>

			<div class ='form-group'>

				<label for ='department' class ='form-label bold'> Department * : </label>

				<select name ='department' id ='department' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='department'>

					<option [value] =''> </option> 

					<option *ngFor ='let department of generalOthers?.departments' [value] ='department._id'> {{department.name}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='department' [system-type] ='systemType' [department] ='department'> </app-user-other-field-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='level && generalOthers && generalOthers?.levels != null && generalOthers?.levels?.length > 0'>

			<div class ='form-group'>

				<label for ='level' class ='form-label bold'> Level * : </label>

				<select name ='level' id ='level' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='level'>

					<option [value] =''> </option> 

					<option *ngFor ='let level of generalOthers?.levels' [value] ='level._id'> {{level.name}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='level' [system-type] ='systemType' [level] ='level'> </app-user-other-field-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='country && generalOthers && generalOthers?.countries != null && generalOthers?.countries?.length > 0'>

			<div class ='form-group'>

				<label for ='country' class ='form-label bold'> Country * : </label>

				<select name ='country' id ='country' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='country'>

					<option [value] =''> </option> 

					<option *ngFor ='let country of generalOthers?.countries' [value] ='country._id'> {{country.name}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='country' [system-type] ='systemType' [country] ='country'> </app-user-other-field-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='unit && generalOthers && generalOthers?.units != null && generalOthers?.units?.length > 0'>

			<div class ='form-group'>

				<label for ='unit' class ='form-label bold'> Unit * : </label>

				<select name ='unit' id ='unit' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='unit'>

					<option [value] =''> </option> 

					<option *ngFor ='let unit of generalOthers?.units' [value] ='unit._id'> {{unit.name}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='unit' [system-type] ='systemType' [unit] ='unit'> </app-user-other-field-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='role && generalOthers && generalOthers?.roles != null && generalOthers?.roles?.length > 0'>

			<div class ='form-group'>

				<label for ='role' class ='form-label bold'> Role * : </label>

				<select name ='role' id ='role' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='role'>

					<option [value] =''> </option> 

					<option *ngFor ='let role of generalOthers?.roles' [value] ='role._id'> {{role.word}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='role' [system-type] ='systemType' [role] ='role'> </app-user-other-field-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='status && generalOthers && generalOthers?.statuses != null && generalOthers?.statuses?.length > 0'>

			<div class ='form-group'>

				<label for ='status' class ='form-label bold'> Status * : </label>

				<select name ='status' id ='status' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='status'>

					<option [value] =''> </option> 

					<option *ngFor ='let status of generalOthers?.statuses' [value] ='status._id'> {{status.word}} </option> 

				</select>

				<app-user-other-field-validator *ngIf ='status' [system-type] ='systemType' [status] ='status'> </app-user-other-field-validator>

			</div>

		</ng-container>

<div *ngIf ='matriculation_number' class ='form-group'>

	<label for ='matriculation_number' class ='form-label bold'> Matriculation Number : </label>

	<input type ='text' id ='matriculation_number' name ='matriculation_number' placeholder ='2015/1/57261CI' autocomplete ='new-matriculation_number' formControlName ='matriculation_number' [readOnly] ='noEdit'

	 class ='form-control'>

	<app-user-other-field-validator *ngIf ='matriculation_number' [system-type] ='systemType' [matriculation-number] ='matriculation_number'> </app-user-other-field-validator>

</div>


<div *ngIf ='jamb_registration_number' class ='form-group'>

	<label for ='jamb_registration_number' class ='form-label bold'> Jamb Registration Number : </label>

	<input type ='text' id ='jamb_registration_number' name ='jamb_registration_number' placeholder ='65223645DH' autocomplete ='new-jamb_registration_number' formControlName ='jamb_registration_number'

	[readOnly] ='noEdit' class ='form-control'>

	<app-user-other-field-validator *ngIf ='jamb_registration_number' [system-type] ='systemType' [jamb-registration-number] ='jamb_registration_number'> </app-user-other-field-validator>

</div>

<div *ngIf ='identity_number' class ='form-group'>

	<label for ='identity_number' class ='form-label bold'> Identity Number : </label>

	<input type ='text' id ='identity_number' name ='identity_number' placeholder ='M1503186' autocomplete ='new-identity_number' formControlName ='identity_number' [readOnly] ='noEdit' class ='form-control'>

	<app-user-other-field-validator *ngIf ='identity_number' [system-type] ='systemType' [identity-number] ='identity_number'> </app-user-other-field-validator>

</div>

</div>



