.entries {

	width : 98%;
	overflow : auto;
}

table {

	width : 1270px;
	table-layout: fixed;
}

col:nth-of-type(1) {

	width : 5%;
}

col:nth-of-type(2) {

	width : 18%;
}

col:nth-of-type(3) , col:nth-of-type(4) {

	width : 16%;
}

col:nth-of-type(5) {

	width : 10%;
}

col:nth-of-type(6) {

	width : 12%;
}

col:nth-of-type(7) {

	width : 20%;
}
