<div @fadeAnimation *ngIf ='true'>

<h2 *ngIf ='title'> {{title}} </h2>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'></app-notification-screen>

<app-view-description *ngIf ='view' [view-type] ='view'> </app-view-description>

<app-resource-unavailable *ngIf ='isError' [error] ='error' > </app-resource-unavailable>

<div *ngIf ='passwordToken' id ='entry-update'>

	<ng-container *ngIf ='changesSuccess'>

		<p> <b class ='bold'> Note : </b> Your account have been successfully recovered and your password is changed. You will be redirected to the homepage in a short while and will be allowed 

		to sign in again and use the system</p>

	</ng-container>

	<ng-container *ngIf ='changesSuccess'>

<form *ngIf ='entryForm' method = 'post' autocomplete ='off' [formGroup] ='entryForm' (ngSubmit) ='$resetPassword(entryForm.value)' > 

		<div *ngIf ='new_password' class ='form-group'>

			<label for ='new-password' class ='form-label bold'> New Password * </label>

			<input type ='password' class ='form-control' id ='new-password' name ='new_password' required ='required' autocomplete ='new-new_password' formControlName ='new_password'>

<ng-container *ngIf ='new_password'>

	<div *ngIf ='new_password.invalid && (new_password.touched || new_password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='new_password.errors?.required'> New Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='new_password.errors?.required || new_password.errors?.minlength'> New Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='new_password.errors?.required || new_password.errors?.maxlength'> New Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='new_password.errors?.simplePassword'> New Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of new_password </li>
			<li *ngIf ='new_password.errors?.currentAndNew'> New Password of {{systemType}} should not be equal to initial password </li>

		</ul>

	</div>

</ng-container>

		</div>

		<div *ngIf ='confirm_password' class ='form-group'>

			<label for ='confirm-password' class ='form-label bold'> Confirm Password * </label>

			<input type ='password' class ='form-control' id ='confirm-password' name ='confirm_password' required ='required' autocomplete ='new-confirm_password' formControlName ='confirm_password'>

<ng-container *ngIf ='confirm_password'>

	<div *ngIf ='confirm_password.invalid && (confirm_password.touched || confirm_password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='confirm_password.errors?.required'> Confirmation Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='confirm_password.errors?.required || confirm_password.errors?.minlength'> Confirmation Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='confirm_password.errors?.required || confirm_password.errors?.maxlength'> Confirmation Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='confirm_password.errors?.simplePassword'> Confirmation Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of confirm_password </li>
			<li *ngIf ='confirm_password.errors?.confirm_password'> Confirmation Password of {{systemType}} should be equal to New password of {{systemType}} </li>

		</ul>

	</div>

</ng-container>

		</div>

			<button *ngIf ='!isFormProcessing' type ='submit' class ='btn-submit' [class] ='{"disabled" : !isFormValid }' [disabled] ='!isFormValid' > Submit </button> 

			<p *ngIf ='isFormSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

	</form>

</ng-container>

</div>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>