		<div @fadeAnimation *ngIf ='entry' id ='entry-detail-options'>

			<a [routerLink] ="[isAdmin , 'entry' , entry?.slug , 'timeline']" class ='center'> Timeline </a>

		<ng-container *ngIf ="canUpdateEntry">

			<a (click) ="loadLink([isAdmin , 'entry' , entry?.slug , 'send-mail'])" class ='center'> Send Email Message </a>

			<a (click) ="loadLink([isAdmin , 'entry' , entry?.slug , 'update'])" class ='center'> Other Update Options </a>

		</ng-container>

		<ng-container *ngIf ="entry?.status != 'Fulfilled' || entry?.status != 'Rejected'">

			<a [routerLink] =" [isAdmin , 'entry' , entry?.slug , 'comment' , 'add'] " class ='center'> Add a Comment </a>				

		</ng-container>

	</div>
