<ng-container *ngIf ='entryForm'>

<div class ='' [formGroup] ='entryForm'>

	<ng-container *ngIf ='first_name'>

			<div class ='form-group'>

				<label for ='first_name' class ='form-label bold'> First Name * : </label>

				<input type ='text' id ='first_name' name ='first_name' placeholder ='Yusuf' required ='required' autocomplete ='new-first_name' formControlName ='first_name' class ='form-control' 

				[readOnly] ='noEdit' appCapitalize ='appCapitalize'>

				<app-user-account-validator *ngIf ='first_name' [system-type] ='systemType' [first-name] ='first_name'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='last_name'>

			<div class ='form-group'>

				<label for ='last_name' class ='form-label bold'> Last Name * : </label>

				<input type ='text' id ='last_name' name ='last_name' placeholder ='Musa' required ='required' autocomplete ='new-last_name' formControlName ='last_name' class ='form-control'

				[readOnly] ='noEdit' appCapitalize ='appCapitalize'>

				<app-user-account-validator *ngIf ='last_name' [system-type] ='systemType' [last-name] ='last_name'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='username'>

			<div class ='form-group'>

				<label for ='username' class ='form-label bold'> Username * : </label>

				<input type ='text' id ='username' name ='username' placeholder ='adigun' required ='required' autocomplete ='new-username' formControlName ='username' class ='form-control' 

				[readOnly] ='noEdit' appLowercase ='appLowercase'>

				<app-user-account-validator *ngIf ='username' [system-type] ='systemType' [user-name] ='username'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='email_address'>

			<div class ='form-group'>

				<label for ='email_address' class ='form-label bold'> Email Address * : </label>

				<input type ='text' id ='email_address' name ='email_address' placeholder ='david@example.com' required ='required' autocomplete ='new-email_address' formControlName ='email_address' 

				class ='form-control' [readOnly] ='noEdit' appLowercase ='appLowercase'>

				<app-user-account-validator *ngIf ='email_address' [system-type] ='systemType' [email-address] ='email_address'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='password'>

			<div class ='form-group'>

				<label for ='password' class ='form-label bold'> Password * : </label>

				<input type ='password' id ='password' name ='password' placeholder ='*******************' required ='required' autocomplete ='new-password' formControlName ='password'

				[readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='password' [system-type] ='systemType' [password] ='password'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='confirm_password'>

			<div class ='form-group'>

				<label for ='confirm_password' class ='form-label bold'> Confirmation Password * : </label>

				<input type ='password' id ='confirm_password' name ='confirm_password' placeholder ='*******************' required ='required' autocomplete ='new-confirm_password'

				formControlName ='confirm_password' [readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='confirm_password' [system-type] ='systemType' [confirm-password] ='confirm_password'> </app-user-account-validator>

			</div>

		</ng-container>

			<app-user-other-field *ngIf ='systemType' [system-type] ='systemType' [entry] ='entry' [entry-form] ='entryForm' [general-others] ='generalOthers' [no-edit] ='noEdit' > </app-user-other-field>

		</div>

	</ng-container>