<div @fadeAnimation *ngIf ='entry'>

<div [formGroup] ='entryForm'>

<div *ngIf ='email_address' class ='form-group'>

	<label for ='email_address' class ='form-label bold'> Email Address * : </label>

	<input type ='text' id ='email_address' name ='email_address' placeholder ='david@example.com' required ='required' autocomplete ='new-email_address' formControlName ='email_address' 

	class ='form-control' readonly ='readonly' appLowercase ='appLowercase' >

	<app-profile-validator *ngIf ='email_address' [system-type] ='systemType' [email-address] ='email_address'> </app-profile-validator>

</div>

			<app-user-other-field *ngIf ='systemType' [system-type] ='systemType' [entry] ='entry' [entry-form] ='entryForm'> </app-user-other-field>

</div>

</div>