<div @fadeAnimation>

<mat-progress-bar class ='sris-loading-bar' [color] ='"purple"' [mode] ='"buffer"' *ngIf='lbs.isShowingRouteLoadIndicator'> </mat-progress-bar>

<h1> <img src ='/assets/images/logo.png' id ='logo-sris'> </h1>

<app-navigation-bar> </app-navigation-bar>

<router-outlet #routerOutlet ='outlet' > </router-outlet>

</div>

<div *ngIf='lbs.isShowingRouteLoadIndicator' class='router-load-indicator'> Please wait </div>



<!-- <label (click) ='changeView()' class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label> -->