<ng-container *ngIf ='first_name'>

	<div @fadeAnimation *ngIf ='first_name.invalid && (first_name.touched || first_name.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='first_name.errors?.required'> First Name of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='first_name.errors?.required || first_name.errors?.minlength'> First Name of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='first_name.errors?.required || first_name.errors?.maxlength'> First Name of {{systemType}} cannot be greater than 20 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='last_name'>

	<div @fadeAnimation *ngIf ='last_name.invalid && (last_name.touched || last_name.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='last_name.errors?.required'> Last Name of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='last_name.errors?.required || last_name.errors?.minlength'> Last Name of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='last_name.errors?.required || last_name.errors?.maxlength'> Last Name of {{systemType}} cannot be greater than 20 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='email_address'>

	<div @fadeAnimation *ngIf ='email_address.invalid && (email_address.touched || email_address.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='email_address.errors?.required'> Email Address of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='email_address.errors?.required || email_address.errors?.minlength'> Email Address of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='email_address.errors?.required || email_address.errors?.maxlength'> Email Address of {{systemType}} cannot be greater than 50 characters in length </li>
			<li *ngIf ='email_address.errors?.required || email_address.errors?.email_address'> Email Address must be valid and should conform to standards for example david@gmail.com </li>
			<li *ngIf ='email_address.errors?.email_addressService'> Email Address cannot be used at the moment because it is already taken by another user. Please input another email address </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='level'>

	<div @fadeAnimation *ngIf ='level.invalid && (level.touched || level.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='level.errors?.required'> Level of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='level.errors?.required || level.errors?.max'> Level of {{systemType}} cannot be greater than specified length </li>
			<li *ngIf ='level.errors?.Level'> Level of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='country'>

	<div @fadeAnimation *ngIf ='country.invalid && (country.touched || country.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='country.errors?.required'> Country of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='country.errors?.required || country.errors?.max'> Country of {{systemType}} cannot be greater than specified length </li>
			<li *ngIf ='country.errors?.Country'> Country of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='password'>

	<div @fadeAnimation *ngIf ='password.invalid && (password.touched || password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='password.errors?.required'> Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='password.errors?.required || password.errors?.minlength'> Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='password.errors?.required || password.errors?.maxlength'> Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='password.errors?.simplePassword'> Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of password </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='new_password'>

	<div @fadeAnimation *ngIf ='new_password.invalid && (new_password.touched || new_password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='new_password.errors?.required'> New Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='new_password.errors?.required || new_password.errors?.minlength'> New Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='new_password.errors?.required || new_password.errors?.maxlength'> New Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='new_password.errors?.simplePassword'> New Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of new_password </li>
			<li *ngIf ='new_password.errors?.currentAndNew'> New Password of {{systemType}} should not be equal to initial password </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='confirm_password'>

	<div @fadeAnimation *ngIf ='confirm_password.invalid && (confirm_password.touched || confirm_password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='confirm_password.errors?.required'> Confirmation Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='confirm_password.errors?.required || confirm_password.errors?.minlength'> Confirmation Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='confirm_password.errors?.required || confirm_password.errors?.maxlength'> Confirmation Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='confirm_password.errors?.simplePassword'> Confirmation Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of confirm_password </li>
			<li *ngIf ='confirm_password.errors?.confirm_password'> Confirmation Password of {{systemType}} should be equal to New password of {{systemType}} </li>

		</ul>

	</div>

</ng-container>