	<div @fadeAnimation class ='entry-options'>

		<h3> Entries Options </h3>

		<p><b class ='bold'> Guidelines : </b> A member of the system can use the input field below to search for an entry or entries that exists in the records. When the inputs is valid, the 

		"Submit" button will become active by turning its color from black to purple. </p>

		<p> An entry can be removed from the records. When the cicle marker far right beside each entry is checked and the entries checked are at least 2 , A button with label

		"Delete Many" will display and be active so that the so that an action can be performed.</p>

	</div>