<div id ='entry-create'>

	<h2 *ngIf ='title'> {{title}} </h2>

<app-resource-unavailable *ngIf ='isError' [error] ='error'> </app-resource-unavailable>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<ng-container *ngIf ='entryCreateForm'>

	<ng-container *ngIf ='!isLoading'>

	<app-request-entry-create [system-type] ='systemType' [system-guideline] ='systemGuideline' [view] ='view' [input-file-control] ='fileControl' [attachment-config] ='attachmentConfig' 

	[entry-create-form] ='entryCreateForm' [upload-config-u] ='uploadConfig' (processEntry) ='createEntry($event)' > 

	<app-request-entry-form-input [system-type] ='systemType' [entry-form] ='entryCreateForm' [no-edit] ='false' [placeholder] ='placeholder'> </app-request-entry-form-input>

</app-request-entry-create>

</ng-container>

</ng-container>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>