<ng-container *ngIf ='entry'>

<div class ='generate-username-password-form' [formGroup] ='entryForm'>

		<div class ='form-group'>

		<button id ='generateCredentials' class ='btn-submit' (click) ='createNewCredentials($event)'> Generate {{systemType}} Password </button>

	</div>

		<div class ='form-group' *ngIf ='password'>

			<label for ='request-password' class ='form-label bold'> Password </label>

			<input type ='text' name ='password' id ='request-password' [value] ='entry?.password' class ='form-control' formControlName ='password'>

			<app-gr-entry-cred-validator [system-type] ='systemType' [password] ='password'> </app-gr-entry-cred-validator>

		</div>

		</div>

	</ng-container>