<div @fadeAnimation *ngIf ='true'>

<app-view-description *ngIf ='view' [view-type] ='view' [system-type] ='systemType' > </app-view-description>

<p *ngIf ='!isFormModified'> <b class ='bold'> Form Message : </b> {{formMessage}} </p>

<ng-container *ngIf ='entryForm'>

	<div id ='entry-update' [formGroup] ='entryForm' >

		<div id ='entry-detail'>

			<app-gmt-form-input [system-type] ='systemType' [entry-form] ='entryForm' [e-others] ='eothers' [placeholder] ='placeholder' [no-edit] ='noEdit' > </app-gmt-form-input> 

		<ng-content> </ng-content>

			<button *ngIf ='!isFormProcessing' class ='btn-submit' [class] ='{"disabled" : !isFormValid }' [disabled] ='!isFormValid'

			(click) ='changeEntry(entryForm.value)' > Submit </button> 

			<p *ngIf ='isFormSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

		</div>

		</div>

</ng-container>

		<div *ngIf ='systemType' class ='entry-options'>

			<h3> Entry Options </h3>

			<a [routerLink] ="['../../../' , 'entry' , entry?.slug , 'detail']" class ='entry-option center'> {{systemType}} Detail </a>

			<a [routerLink] ="['../../../' , 'entry' , entry?.slug , 'delete']" class ='entry-option center'> {{systemType}} Delete </a>

		</div>

</div>