<ng-container *ngIf ='entry'>

	<h3 class ='center' > Request Options  </h3>

<div @fadeAnimation [formGroup] ='entryForm'>

			<div id ='entry-detail-options'>

				<a *ngIf ='!isOtherColAvailable' (click) ='otherCol()' class ='center'> Update Application </a>

		</div>

<ng-container *ngIf ='isOtherColAvailable == true'>

<app-request-entry-message-template [system-type] ='systemType' [$link] ='$link' [entry-form] ='entryForm' [entry] ='entry' > </app-request-entry-message-template>

<app-request-entry-update-status [entries] ='eother' [entry-form] ='entryForm' [entry] ='entry' > </app-request-entry-update-status>

	<div class ='form-group' *ngIf ='text'>

		<label for ='text' class ='form-label bold'> Message </label>

		<textarea name ='text' id ='text' formControlName ='text'> </textarea>

	<app-request-entry-update-validator *ngIf ='text' [system-type] ='systemType' [text] ='text'> </app-request-entry-update-validator>

	</div>

		<div class ='form-group' *ngIf ='text'>

		<label for ='addition-input' class ='form-label bold'> Additional Input </label>

	<select name ='other-options' id ='addition-input' class ='form-control' [formControl] ='otherOptions'>

				<option value = ''> </option>

				<option value ='1'> Add Username and Password </option> 

				<option value ='2'> Add Password </option> 

	</select>

</div>

	<ng-container [ngSwitch] ='otherOptions.value'>

		<ng-container *ngSwitchCase ='1'>

		<app-gr-entry-generate-u-p *ngIf ='entry' [system-type] ='systemType' [entry] ='entry' [entry-form] ='entryForm'> </app-gr-entry-generate-u-p>

	</ng-container>

		<ng-container *ngSwitchCase ='2'>

		<app-gr-entry-gen-password *ngIf ='entry' [system-type] ='systemType' [entry] ='entry' [entry-form] ='entryForm'> </app-gr-entry-gen-password>

	</ng-container>

</ng-container>

	</ng-container>
		
</div>

</ng-container>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>