<ng-container *ngIf ='!isLoggedIn'>

<div @fadeAnimation class ='get-started'>

	<h3> Get Started </h3>

	<a (click) ="loadLink(['/' , 'sign-in'])" ><img src ='/assets/images/in.png' class ='authentication' ></a>

	<a (click) ="loadLink(['/' , 'sign-up'])" ><img src ='/assets/images/out.png' class ='authentication' ></a>

</div>

</ng-container>

<ng-container *ngIf ='isLoggedIn'>

<div @fadeAnimation id ='get-started-menu'>

<ul>

	<li class ='center'>

		<a (click) ="loadLink(['/' , 'account' , 'profile'])" class ='center'> View Profile </a>

	</li>

</ul>

</div>

	</ng-container>