<h2 *ngIf ='title'> {{title}} </h2>

<app-view-description *ngIf ='view' [view-type] ='view'> </app-view-description>

<div *ngIf ='isLoggedIn' id ='dashboard'>

<ul *ngIf ='entries != null && entries.length > 0' [@listAnimation] ='entries.length'>

	<li *ngIf ='canManage'>

		<a [routerLink] ='["/system"]' class ='center'> Manage System </a>

	</li>

		<li *ngFor ='let entry of entries'> 

		<a (click) ="loadLink([entry.slug])" class ='center'> {{entry.title}} </a>

		</li>

	<li *ngIf ='notStudent'>

		<a [routerLink] ='["/request-change-message-template"]' class ='center'> Manage Request Template </a>

	</li>

	<li *ngIf ='canManageAcctReq'>

		<a [routerLink] ='["/account-change-request"]' class ='center'> Manage Account Change Request </a>

	</li>

	<li>

		<a (click) ="loadLink(['/' , 'account' , 'profile'])" class ='center'> Manage Profile </a>

	</li>


</ul>

</div>