<h2 *ngIf ='title'> {{title}} </h2>

<app-view-description *ngIf ='view' [view-type] ='view'> </app-view-description>

<div *ngIf ='isLoggedIn' id ='dashboard'>

<ul *ngIf ='entries != null && entries.length > 0' [@listAnimation] ='entries.length'>

	<li *ngIf ='canManage'>

		<a [routerLink] ='["/system"]' class ='center'> Manage System </a>

	</li>

		<li *ngFor ='let entry of entries'> 

		<a [routerLink] ='[entry.slug]' class ='center'> {{entry.title}} </a>

		</li>

	<li>

		<a [routerLink] ="['/account' , 'profile']" class ='center'> Manage Profile </a>

	</li>


</ul>

</div>