<div id ='entry-view'>

	<h2 *ngIf ='title'> {{title}} </h2>

<app-view-description *ngIf ='view' [view-type] ='view' [system-type] ='systemType' > </app-view-description>

<app-resource-unavailable *ngIf ='isError' [error] ='error' > </app-resource-unavailable>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

	<div @fadeAnimation *ngIf ='entry' id ='request-entry-detail'>

		<ng-container *ngIf ='!isLoading'>

		<app-request-entry-detail *ngIf ='entry' [entry] ='entry' [view] ='view' > </app-request-entry-detail>

		<app-request-entry-student-detail *ngIf ='entry' [entry] ='entry' > </app-request-entry-student-detail>

		<app-file-attachments-two *ngIf ='entry' [entry] ='entry'> </app-file-attachments-two>

		<app-gr-entry-option *ngIf ='entry' [view] ='view' [entry] ='entry' [link] ='link' [system-type] ='systemType' (onReviewEntry) ='$confirmEntryOnReview($event)'> </app-gr-entry-option>

		<ng-container *ngIf ="entry != null && entry?.status != 'Pending' && entry?.status != 'Fulfilled' && entry?.status != 'Rejected'">

				<ng-container *ngIf ="canUpdateEntry"> 

					<div id ='entry-detail-form'>

						<form method ='post' [formGroup] ='entryForm' (ngSubmit) ='updateEntry(entryForm.value)'>

		<app-gr-entry-update-field *ngIf ='entry' (on-submit-btn) ='openSubBtn($event)' [entry] ='entry' [entry-form] ='entryForm' [system-type] ='systemType' [$link] ='$link' > </app-gr-entry-update-field>

		<ng-container *ngIf ='readyToSubmit == true'>

			<button *ngIf ='!isFormProcessing' type ='submit' class ='btn-submit' [class] ='{"disabled" : !isFormValid }' [disabled] ='!isFormValid'> Submit </button> 

			<p *ngIf ='isFormSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

		</ng-container>

						</form>

					</div>

			</ng-container>

	</ng-container>

</ng-container>

</div>

</div>

<app-loading-menu [is-loading] ='isLoading'> </app-loading-menu>